{% extends 'base.html' %}

{% block title %}Welcome to the MovieWeb App!{% endblock %}

{% block nav %}
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('list_users') }}">Users</a>
        <a href="{{ url_for('add_user') }}">Add User</a>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-logo">MovieWeb App</h1>
        <p class="tagline">Dive into the Neon World of Movies!</p>
        <button id="play-music-button" class="center-button">Click to Start the Music!</button>
        <h2>Featured Movies</h2>
        {% if featured_movies %}
            <div class="movie-grid">
                {% for movie in featured_movies %}
                    <div class="movie-item">
                        {% if movie.poster_url %}
                            <img src="{{ movie.poster_url }}" alt="{{ movie.title }} Poster" class="movie-poster">
                        {% endif %}
                        <div>
                            <a href="{{ url_for('user_movies', user_id=movie.user_id) }}">{{ movie.title }}</a><br>
                            Rating: {{ movie.rating }}/10<br>
                            Added by: {{ movie.user.username }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No featured movies available.</p>
        {% endif %}
    </div>
{% endblock %}